.main {

}

.container {
	@include breakpoint($xs) {width: 95%}
	@include breakpoint($lg) { width: 75%;}
	@include breakpoint($xxlg) {width: 1024px} 
}

.border-left {
	border-left: 1px #000 solid;
}

.section {
	width: 100vw;
	height: 100vh;

	&#home {
		background: url(../img/black-white1.jpg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

#home {

	.row {
		border-left: 1px #FFF solid;
		margin-top: 30%;
	}

	.title {
		font-size: 3.5em;
		line-height: 1.5em;
		color: white;
		text-transform: uppercase;
		display: inline-block;
		margin-left: 30px;
		margin-top: -20px
	}

	.border-left {
		border-left: 1px #FFF solid;
		height: 80%;
	}
}

#work {

	.border-left {
		max-height: 150px;
		height: 100px;
	}

	$font-height-md: 30px;
	$font-height-lg: 40px;
	.border-right {
		position: relative;
		border-right: 1px #000 solid;
		border-top: 1px #000 solid;
		border-bottom: 1px #000 solid;
		padding: 0 15px 80px 15px;

		h1 {
			text-transform: uppercase;
			color: #000;
			text-align: center;
			line-height: 1.75em;
			padding-top: 20px;

			@include breakpoint($md) {
				text-align: right;
				font-size: 2.5em;
				line-height: $font-height-md;
				letter-spacing: 4.0px;
			}

			@include breakpoint($xlg) {
				font-size: 3.5em;
				line-height: $font-height-lg;
				letter-spacing: 4.0px;
				padding-top: 30px;
			}
		}
	}

	.filters-wrapper {text-align: center;}

	.filters-list {
		display: inline-block;
		margin: 0 auto;
		text-align: left;
		padding-bottom: 30px;

		@include breakpoint($md) {
			display: block;
			margin-top: - $font-height-md - 1; // subtract 1 due to the border
			margin-left: -15px;
			padding-bottom: 40px;
			float: left;	
		}

		.filter {
			border: 1px #A2A2A2 solid;
			display: inline-block;
			text-transform: uppercase;
			background-color: #FFF;
			padding: 1px 10px 5px;
			&:hover, &.active {
				border: 1px black solid;
				background-color: black;
				cursor: pointer;
				a {color: white;}
			}
			@include transition(all .3s ease);
			&:first-child {margin-right: 5px;}
			&:not(:first-child) {margin: 0 5px;}
			@include breakpoint($md) {padding: 1px 15px 5px;}

			a {
				pointer-events: none;
				color: black;
				font-weight: 700;
				font-size: 0.5em;
				letter-spacing: 1px;
				&:hover {text-decoration: none;}
			}
		}
	}

	.project-card:nth-child(odd) {
		position: relative;
		max-width: 60%;

		.project-img {
			max-width: 80%;
			max-height: 20%;
			display: inline-block;
			img {
				max-height: 80%;
				max-width: 100%;
			}
		}

		.project-desc {
			position: absolute;
			right: 5%;
			top: 30%;
			@include breakpoint($xlg) { right: 15%;}

			.project-name {
				color: #111;
				font-size: 2.0em;
				text-transform: uppercase;
				letter-spacing: 4.0px;
			}
			.project-type {
				color: #999;
				opacity: 0.8;
				font-size: 1.15em;
				margin-top: -0.4em;
			}
		}
	}

	.project-card:nth-child(even) {
		position: relative;
		float: right;
		max-width: 60%;
		max-height: 40%;
		padding-right: 20px;

		.project-img {
			max-width: 80%;
			max-height: 40%;
			display: inline-block;
			float: right;
			img {
				max-height: 100%;
				max-width: 100%;
			}
		}

		.project-desc {
			position: absolute;
			left: 0;
			top: 40%;
			.project-name {
				color: #111;
				font-size: 2.0em;
				text-transform: uppercase;
				letter-spacing: 4.0px;
			}
			.project-type {
				color: #999;
				opacity: 0.8;
				font-size: 1.15em;
				margin-top: -0.4em;
			}
		}
	}
}
