html {
	font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, a, li, div {
	font-family: "minion-pro-display", serif;
	color: #FFFFFF;
}

h1 {
	font-size: 2.250em;
	line-height: 2.813em;
	letter-spacing: 1.3px;
}

h2, h3 {
	font-family: "brandon-grotesque",sans-serif;	
}

h2 {
	font-style: normal;
	opacity: 1.0;
}